<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h3>Student Information Deleted</h3>
  <br>
  <a href="/">Return to student index</a>
</body>
</html>
