<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h3>Submit New Student</h3>
  <form class="" action="/" method="post">
    <input placeholder="First Name" type="text" name="fname"><br>
    <input placeholder="Last Name" type="text" name="lname"><br>
    <input placeholder="Nickname" type="text" name="nickname"><br>
    <input placeholder="Email" type="email" name="email"><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
