<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h3>Student List</h3>
  <div class=""><a href="/add">Add Student</a></div>
  <ul>
    {{#students}}
      <li><a href="/edit/{{id}}">{{fname}} {{lname}} AKA {{nickname}} Email: {{email}}</a><br><a href="/drop/{{id}}">Delete {{nickname}}</a></li>
    {{/students}}
  </ul>

</body>
</html>
